body{
    margin: 0;
    background: #e6f3fa;
    font-family: Helvetica;
}
.content{
    padding-top: 100px;
    margin: 0 auto;
    display: inline-table;
    justify-content: center;
    align-items: center;
    

}
.card{
    width: 250px;
    height: 200px;
    background: #0a74ee;
    margin: 10px;
    border-radius: 10px;
    box-shadow: opx 2px 10px rgba,(0,0,0,0.24);
    border: 2px solid rgba(7,7,7,0.12);
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;

}
.card:hover{
    height: 270px;
}
.card:hover .text{
    transition: all 0.3s ease;
    opacity: 1;
    max-height: 40px;
}
.card:hover .icon{
    background-position: -120px;
    transition: all 0.3s ease;
}
.icon{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(253, 252, 252);
    font-size: 300;
}
.card .text{
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    opacity: 0;
    color: #fff;
    max-height: 0;
    transition: all 0.3s ease;
}
.material-icons.md-36{
    font-size: 36px;
}
.card.title{
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
}