*{
    box-sizing: border-box;
}
.form-container{
    width: 400px;
    border: 1px solid rgb(87, 85, 85);
    padding-bottom: 20px;
    margin: auto;
}
.heading{
text-align: center;
color: hsl(0, 0%, 52%);
font-style: italic;

}
.input-fields{
    width: 100%;
    padding: 10px;
    background-color: hsl(240, 5%, 92%);
    border: 1px rgb(87, 86, 86);
}
.single-field{
    height: auto;
    margin-top: 10px;
}

.single-field>label{
display: block;
color: hsl(240, 1%, 27%);
}
.single-field>input{
    display: block;
    height: 30px ;
    width: 100%;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 3px;
    padding: 10px 20px;


}
.auth-btn{
    width: 100%;
    background-color: #1284f7;
    color: floralwhite;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
}
.text{
    margin-top: 10px;
    text-align: center;
    color: rgb(38, 38, 39);

}


